table{
    border-spacing: 0;
    border-collapse: collapse;
}
th, td{
    border: 2px solid #000;
}
caption{
   font-weight: 600;
   font-size: 20px;
    border: 2px solid #000;
    border-bottom: none;
}
.weekend{
    color: red;
}