body{
    box-sizing: border-box;

}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    color: #000;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
    border-bottom: 1px solid #a9a4a4;
}

.logo-link{
    display: inline-block;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    background-color: #000;
    margin-bottom: 15px;
    margin-top: 20px;

}

.header__list{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.phone-link{
    text-decoration: none;
}