form{
    display: flex;
    flex-direction: column;
    width: 25rem;
}
.form-group-fill{
    border-bottom: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px ;

    
}

.form-group-sendMsg{
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

textarea{
    resize: vertical;
    max-height:200px ;
}
input{
    border-radius: 5px;
    height: 25px;
}
label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.checkbox{
    display: flex;
    flex-direction: row;
    
}
span{
    margin-top: 10px;
}

.checkbox-input{
    margin-top: 6px;
    margin-right: -3px;
}
button{
    cursor: pointer;
    border-radius: 5px;
    padding: 6px;
    margin-top: 10px;

}