* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
	

}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	min-height: 100vh;
}

.header{
	grid-column-start:  12 span ;
	background-color: #f00;
	min-height: 100px;
}

.aside {
	grid-column: 2 span;
	grid-row-start: 2 span;
	background-color: #e2e20d;
	
}

.main {
	grid-column: 3 / 10 span;
	grid-row-start: 2 span;
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

.main .container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.article {
	background-color: #de6e05;
	min-height: 200px;
}

.footer {
	grid-column-start: 12 span;
	background-color: #0b2fe2;
	min-height: 250px;
}

@media (width <= 1230px) {
	.main .container{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media ( width <= 1200px){ 
	.main .container{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (width <= 768px) {
	.aside {
		display: none;
		background-color: #e2e20d;
	
	}
	.main {
		grid-column: 12 span;
	}
}